@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.form {
  width: 100%;
  max-width: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form__logo {
    width: 65px;
    height: 61.057px;
    flex-shrink: 0;
    margin-bottom: 30px;
  }

  .form__title {
    color: #0c0e16;
    margin-bottom: 9px;
    text-align: center;
  }

  .form__description {
    color: #0c0e16;
    margin-bottom: 56px;
    text-align: center;
  }

  .form__social-logins-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 30px;
  }

  .form__divider {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 18px;
  }

  .form__divider--lines {
    color: #4d4d4d80;
    flex: 1;
  }

  .form__divider--text {
    flex: 1;
    @include m.typography(16px, 500, normal, auto);
  }

  .form__labels-group {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 11px;
  }

  .form__submit {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 10px;
    color: v.$white;
    background: v.$purple;
    outline: none;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.17),
      0px 0px 3px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 18px;
  }

  .form__alt-option-wrapper {
    display: flex;
    gap: 3px;

    .form__alt-option-question {
      color: #0c0e16;
    }
    .form__alt-option-link {
      color: v.$purple;
      transition: 0.4s;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
