.invoice-intro__logo {
  width: 65px;
  height: 61.057px;
  flex-shrink: 0;
  margin-bottom: 30px;
}

.invoice-intro__title {
  color: #0c0e16;
  margin-bottom: 9px;
  text-align: center;
}

.invoice-intro__description {
  color: #0c0e16;
  text-align: center;
}
