
/* Font primary */

$font-primary: 'League Spartan';


/* Shared Colors */

$white: "hsl(0, 0%, 100%)";
$black: "hsl(0, 0%, 0%)";
$blackAlpha50: "hsla(0, 0%, 0%, 50%)";
$purple: "hsl(252, 94%, 67%)";
$purpleLight: "hsl(252, 100%, 73%)";
$red: "hsl(0, 80%, 63%)";
$redLight: "hsl(0, 100%, 80%)";
$blueGrayish: "hsl(231, 36%, 63%)";
$grayLight: "hsl(231, 20%, 36%)";
$grayMedium: "hsl(225, 14%, 53%)";


/* Media query breakpoints */

$breakpoints: (
  'sm': 375px,
  'md': 768px,
  'lg': 1068px
)
