@use "../abstracts/mixins" as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

.label {
  @include flex(flex-start, flex-start, column, 10px);

  input {
    width: 100%;
    padding-inline: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
