@mixin heading1 {
  font-family: 'League Spartan';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
}
@mixin heading2 {
  font-family: 'League Spartan';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.625px;
}
@mixin heading3 {
  font-family: 'League Spartan';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.8px;
}

@mixin body1 {
  font-family: 'League Spartan';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
}

@mixin body2 {
  font-family: 'League Spartan';
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.229px;
}
